*/node_modules
*/dist
*/build
*/coverage
*/.vscode
*/.idea
*/.DS_Store
*/.env
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env
/logs
node_modules
dist
build
coverage
.vscode
.idea
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

*.env